body {
    font-family:Georgia, 'Times New Roman', Times, serif
}

header {
    padding: 20px;
    text-align: center;
    background: white;
    color: purple;
    font-size: 30px;
  }



nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    color: purple;
    background-color: white;
    padding: 20px;
    font-size:20px;
  }
  
  nav a {
    color: purple;
    padding: 10px;
    text-align: center;
  }

  main {
    display: flex;
    flex-wrap: wrap;
  } 
    
  .aboutme {
    background-color: white;
    color:purple;
  }


  .mywork {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: white;

  }

.card {
    display:block;
    border-style:solid;
    border-color:purple;
    border-radius: 60px 60px 60px 60px; 
    padding: 5px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    flex: 1 0 0;
  }


  

  .card header {
    padding: 20px;
    color: purple;
    border-radius: 60px 60px 60px 60px;
  }
  
  .card img {
    width: 90%;
   align-items: center;
   border-radius: 60px 60px 60px 60px;
  }
  
  
.contactme {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
  color: purple;
}












  @media screen and (max-width:990px) {
      .card {
          width: 50%;
      }
  }

  @media screen and (max-width:760px) {
      .card {
          width: 100%;
      }
  }