
/* An element selector which targets the element by name (body) and applies the specified CSS properties mentioned. These properties will be
applied to the entire body in the HTML*/

body {
    font-family:Georgia, 'Times New Roman', Times, serif
}


/* An element selector which targets the element by name (header) and applies the specified CSS properties mentioned*/
header {
    padding: 10px;
    background: purple;
    color: white;
    font-size: 20px;
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }


  /* An element selector which targets the element by name (nav) and applies the specified CSS properties mentioned */
nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    color: white; 
    background-color: purple;
    padding: 20px;
    font-size:20px;
  }
  



/*An element selector- here the  nav a is specifically being targeted and following properties are applied*/
  nav a {
    color: white; 
    padding: 10px;
    text-align: center;

  }


/* An element selector: the following properties will be applied to the specified element only */
  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color:purple;
  
  } 


/* A class selector: the following properties will be applied to all elements containing the specified class attribute */
  .avatar {
    max-width: 600px;
  }


/*A class selector; this CSS property will be applied to all elements containing this class attribute */
  .aboutme {
    background-color: white;
  }

  


/*A class selector- the .aboutme class here is specifically targeting the h1 tags and the following properties are applied*/

  .aboutme h1 {
   font-size:30px;
   background-color: purple;
   color:white;
  }




/* A class selector: the following properties will be applied to all elements containing the specified class attribute */
  .mywork {
    flex-direction: row;

  }


/* A class selector: the following properties will be applied to all elements containing the specified class attribute */
.myworkparagraph {
max-width: 500px;
}




/*A class selector- the .mywork class here is specifically targeting the div h1 tags and the following properties are applied*/
  .mywork div h1 {
    font-size: 30px;
    background-color: white;
    color:purple;
  }

 

/* A class selector: the following properties will be applied to all elements containing the specified class attribute */
.card {
  flex: 1 0 0;
  padding: 10px;
  text-align:center;
  border-style:solid;
  border-color:purple;
  border-radius: 50px 50px 50px 50px; 
  margin:5px;
}



/*A class selector- the .card class here is specifically targeting the header tag and the following properties are applied*/
  .card header {
    padding: 20px;
    color: white;
    border-radius: 60px 60px 60px 60px;
  }
  

  /*A class selector- the .card class here is specifically targeting the img tag and the following properties are applied*/
  .card img {
   width: 90%;
   border-radius: 80px 80px 80px 80px;
  }
  

/* A class selector: the following properties will be applied to all elements containing the specified class attribute */
  .mycard {
    display: flex;
  }

  .thumbnail:hover {
    left:-50px;
    width:400px;
    height:auto;
    z-index:999;
  }
  
  
/* A class selector: the following properties will be applied to all elements containing the specified class attribute */
.contactme {
  background-color: white;
}



  /*A class selector-the .contactme class here is specifically targeting the h1 tag and the following properties are applied*/
.contactme h1 {
  font-size: 30px;
  background-color: purple;
  color:white;
}


/*Media query targeting .card class attribute, specifying width for 990px */
  @media screen and (max-width:990px) {
      .card {
          width: 50%;
      }
  }

  /*Media query targeting .card class attribute, specifying width for 760px */
  @media screen and (max-width:760px) {
      .card {
          width: 100%;
      }
  }